@model MotorcycleShowroom.Models.BMW


                <div class="overlay">
    <div class="container content-container">
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Model.Motorcycles
                    </dt>
                    <dd class="col-sm-8">
                        @Model.Info
                    </dd>
                </dl>
                <!-- White Back button -->
                <a href="javascript:history.back()" class="btn btn-white btn-wider btn-hover">Back</a>
            </div>
            <div class="col-md-6">
                @if (@Model.Images != null && @Model.Images.Any())
                {
                    <h3>Images:</h3>
                    <div>
                        @foreach (var image in @Model.Images)
                        {
                            <img src="@image.FileName" alt="BMW Image" />
                        }
                    </div>
                }
                else
                {
                    <p>No images available for this BMW.</p>
                }
                


                
                <!-- Like button and counter below the image -->
                <div class="like-container">
                    <button id="likeButton" class="btn-like btn-white">Like</button>
                    <div id="likeCount" class="like-count">
                        <span class="heart-icon">&hearts;</span>
                        <span id="countNumber" class="count-number">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <style>
    .overlay {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .content-container {
        position: relative;
        z-index: 1001;
        padding-top: 56px;
    }

    .motorcycle-image {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .like-container {
        margin-top: 20px;
        color: white;
    }

    .btn-white {
        color: black;
        background-color: white;
        border: 1px solid black;
    }

    .btn-wider {
        width: 120px;
    }

    .btn-hover:hover {
        color: white;
        background-color: black;
    }

    .btn-like {
        cursor: pointer;
        padding: 8px 16px;
        border: 1px solid black;
        background-color: white;
        color: black;
        transition: background-color 0.3s, color 0.3s;
    }

        .btn-like.btn-black {
            background-color: black;
            color: white;
        }

            .btn-like.btn-black .heart-icon {
                color: red;
            }

    .heart-icon {
        font-size: 24px; /* Adjusted size for the heart in the counter */
        margin-right: 5px;
        color: white;
        transition: color 0.3s, font-size 0.3s;
    }

    .like-count {
        display: inline-block;
        margin-left: 10px;
        font-size: 18px;
        color: white;
    }

    .count-number {
        font-weight: bold;
    }

    .liked {
        color: red !important;
        font-size: 26px !important;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    console.log(@Json.Serialize(Model));
    $(document).ready(function () {
        var likeCount = 0;

        $('#likeButton').click(function () {
            $(this).toggleClass('btn-black');

            if ($(this).hasClass('btn-black')) {
                $(this).text('Liked');
                likeCount++;
            } else {
                $(this).text('Like');
                likeCount--;
            }

            $('#countNumber').text(likeCount);

            if (likeCount > 0) {
                $('#likeCount .heart-icon').addClass('liked');
            } else {
                $('#likeCount .heart-icon').removeClass('liked');
            }

        });
    });
</script>


